@import "tokyo-night.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin-left: 5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

#tray {
  margin-right: 10px;
}

#bluetooth {
  margin-right: 15px;
}

#network {
  margin-left: 10px;
  margin-right: 10px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
  color: #03fcbe;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-btconnect {
  margin-left: 5px;
  color: @green;
  font-size: 16px;
  min-width: 16px;
}

#custom-bluetooth {
  margin-left: 5px;
  font-size: 16px;
  color: @blue;
}

#custom-vpn {
  margin-left: 5px;
  font-size: 12px;
  min-width: 16px;
}

#custom-power {
  min-width: 16px;
}
