[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[user]
	name = Mu Lu
	email = murphytalk@gmail.com
[color]
	ui = true
[push]
	default = simple
[core]
	editor = vim
[alias]
	df = diff --ignore-all-space
	ll = log --stat
[pull]
	rebase = false
[safe]
	directory = /mnt/router-extra/work
	directory = /mnt/router-extra/work/toolbox
	directory = /mnt/router-extra/work/finance_scraper
	directory = /mnt/router-extra/work/MyKBS
