CONFIG_LOCALVERSION="-gentoo-think"
# CONFIG_WATCH_QUEUE is not set
# CONFIG_BOOT_CONFIG is not set
# CONFIG_BPF_LSM is not set
# CONFIG_BPF_PRELOAD is not set
# CONFIG_ENERGY_MODEL is not set
# CONFIG_ACPI_DPTF is not set
# CONFIG_BYTCRC_PMIC_OPREGION is not set
# CONFIG_CHTCRC_PMIC_OPREGION is not set
# CONFIG_EFI_VARS_PSTORE_DEFAULT_DISABLE is not set
# CONFIG_BLK_INLINE_ENCRYPTION is not set
# CONFIG_INET_ESPINTCP is not set
# CONFIG_INET6_ESPINTCP is not set
# CONFIG_IPV6_RPL_LWTUNNEL is not set
# CONFIG_MPTCP is not set
# CONFIG_BRIDGE_MRP is not set
# CONFIG_NET_DSA_TAG_RTL4_A is not set
# CONFIG_NET_DSA_TAG_OCELOT is not set
# CONFIG_NET_SCH_ETS is not set
# CONFIG_NET_ACT_GATE is not set
# CONFIG_QRTR is not set
# CONFIG_BT_MSFTEXT is not set
# CONFIG_PCIE_EDR is not set
# CONFIG_FW_LOADER_USER_HELPER is not set
# CONFIG_MHI_BUS is not set
# CONFIG_GNSS is not set
# CONFIG_MTD_NAND_NANDSIM is not set
# CONFIG_NVME_HWMON is not set
# CONFIG_NVME_TARGET_PASSTHRU is not set
# CONFIG_UACCE is not set
# CONFIG_DM_EBS is not set
# CONFIG_DM_CLONE is not set
# CONFIG_DM_MULTIPATH_HST is not set
# CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG is not set
# CONFIG_BAREUDP is not set
# CONFIG_CHELSIO_TLS_DEVICE is not set
# CONFIG_PRESTERA is not set
# CONFIG_MLX5_IPSEC is not set
# CONFIG_BCM54140_PHY is not set
# CONFIG_DP83869_PHY is not set
# CONFIG_MDIO_MVUSB is not set
# CONFIG_ATH11K is not set
# CONFIG_MT7663U is not set
# CONFIG_MT7663S is not set
# CONFIG_MT7915E is not set
# CONFIG_RTW88_8723DE is not set
# CONFIG_RTW88_8821CE is not set
# CONFIG_JOYSTICK_ADC is not set
# CONFIG_TOUCHSCREEN_CY8CTMA140 is not set
# CONFIG_TOUCHSCREEN_ZINITIX is not set
# CONFIG_INPUT_IQS269A is not set
# CONFIG_RMI4_F3A is not set
# CONFIG_SERIAL_SC16IS7XX is not set
# CONFIG_HW_RANDOM_XIPHERA is not set
# CONFIG_TCG_TIS_SPI_CR50 is not set
# CONFIG_I2C_NVIDIA_GPU is not set
# CONFIG_SPI_MUX is not set
# CONFIG_PTP_1588_CLOCK_IDT82P33 is not set
# CONFIG_PTP_1588_CLOCK_IDTCM is not set
# CONFIG_PTP_1588_CLOCK_VMW is not set
# CONFIG_PINCTRL_LYNXPOINT is not set
# CONFIG_PINCTRL_EMMITSBURG is not set
# CONFIG_PINCTRL_JASPERLAKE is not set
# CONFIG_PINCTRL_TIGERLAKE is not set
# CONFIG_GPIO_PCA9570 is not set
# CONFIG_GPIO_AGGREGATOR is not set
# CONFIG_W1_SLAVE_DS2430 is not set
# CONFIG_BATTERY_CW2015 is not set
# CONFIG_CHARGER_BQ2515X is not set
# CONFIG_CHARGER_BD99954 is not set
# CONFIG_SENSORS_AXI_FAN_CONTROL is not set
# CONFIG_SENSORS_AMD_ENERGY is not set
# CONFIG_SENSORS_CORSAIR_CPRO is not set
# CONFIG_SENSORS_DRIVETEMP is not set
# CONFIG_SENSORS_LTC2947_I2C is not set
# CONFIG_SENSORS_LTC2947_SPI is not set
# CONFIG_SENSORS_MR75203 is not set
# CONFIG_SENSORS_ADM1266 is not set
# CONFIG_SENSORS_BEL_PFE is not set
# CONFIG_SENSORS_MP2975 is not set
# CONFIG_SENSORS_TMP513 is not set
# CONFIG_THERMAL_NETLINK is not set
# CONFIG_MFD_INTEL_PMC_BXT is not set
# CONFIG_MFD_SYSCON is not set
# CONFIG_MFD_INTEL_M10_BMC is not set
# CONFIG_REGULATOR_FIXED_VOLTAGE is not set
# CONFIG_REGULATOR_RT4801 is not set
# CONFIG_REGULATOR_RTMV20 is not set
# CONFIG_IR_TOY is not set
# CONFIG_CEC_CH7322 is not set
# CONFIG_CEC_SECO is not set
# CONFIG_MEDIA_PLATFORM_SUPPORT is not set
# CONFIG_VIDEO_HI556 is not set
# CONFIG_VIDEO_IMX214 is not set
# CONFIG_VIDEO_IMX219 is not set
# CONFIG_VIDEO_IMX258 is not set
# CONFIG_VIDEO_IMX274 is not set
# CONFIG_VIDEO_IMX290 is not set
# CONFIG_VIDEO_IMX319 is not set
# CONFIG_VIDEO_IMX355 is not set
# CONFIG_VIDEO_OV2659 is not set
# CONFIG_VIDEO_OV2680 is not set
# CONFIG_VIDEO_OV2685 is not set
# CONFIG_VIDEO_OV2740 is not set
# CONFIG_VIDEO_OV5647 is not set
# CONFIG_VIDEO_OV6650 is not set
# CONFIG_VIDEO_OV5670 is not set
# CONFIG_VIDEO_OV5675 is not set
# CONFIG_VIDEO_OV5695 is not set
# CONFIG_VIDEO_OV7251 is not set
# CONFIG_VIDEO_OV772X is not set
# CONFIG_VIDEO_OV7670 is not set
# CONFIG_VIDEO_OV7740 is not set
# CONFIG_VIDEO_OV8856 is not set
# CONFIG_VIDEO_OV9640 is not set
# CONFIG_VIDEO_OV9650 is not set
# CONFIG_VIDEO_OV13858 is not set
# CONFIG_VIDEO_VS6624 is not set
# CONFIG_VIDEO_MT9M001 is not set
# CONFIG_VIDEO_MT9M032 is not set
# CONFIG_VIDEO_MT9P031 is not set
# CONFIG_VIDEO_MT9T001 is not set
# CONFIG_VIDEO_MT9T112 is not set
# CONFIG_VIDEO_MT9V032 is not set
# CONFIG_VIDEO_MT9V111 is not set
# CONFIG_VIDEO_SR030PC30 is not set
# CONFIG_VIDEO_NOON010PC30 is not set
# CONFIG_VIDEO_M5MOLS is not set
# CONFIG_VIDEO_RDACM20 is not set
# CONFIG_VIDEO_RJ54N1 is not set
# CONFIG_VIDEO_S5K6AA is not set
# CONFIG_VIDEO_S5K6A3 is not set
# CONFIG_VIDEO_S5K4ECGX is not set
# CONFIG_VIDEO_S5K5BAF is not set
# CONFIG_VIDEO_SMIAPP is not set
# CONFIG_VIDEO_ET8EK8 is not set
# CONFIG_VIDEO_S5C73M3 is not set
# CONFIG_VIDEO_AD5820 is not set
# CONFIG_VIDEO_AK7375 is not set
# CONFIG_VIDEO_DW9714 is not set
# CONFIG_VIDEO_DW9768 is not set
# CONFIG_VIDEO_DW9807_VCM is not set
# CONFIG_VIDEO_ADP1653 is not set
# CONFIG_VIDEO_LM3560 is not set
# CONFIG_VIDEO_LM3646 is not set
# CONFIG_DRM_AMD_DC_DCN3_0 is not set
# CONFIG_DRM_AMD_DC_HDCP is not set
# CONFIG_DRM_AMD_DC_SI is not set
# CONFIG_NOUVEAU_LEGACY_CTX_SUPPORT is not set
# CONFIG_NOUVEAU_DEBUG_MMU is not set
# CONFIG_NOUVEAU_DEBUG_PUSH is not set
# CONFIG_DRM_NOUVEAU_SVM is not set
# CONFIG_TINYDRM_ILI9486 is not set
# CONFIG_FB_MODE_HELPERS is not set
# CONFIG_FB_HYPERV is not set
# CONFIG_BACKLIGHT_KTD253 is not set
CONFIG_SND_HDA_INTEL_HDMI_SILENT_STREAM=y
# CONFIG_SND_SOC_AMD_RENOIR is not set
# CONFIG_SND_SOC_INTEL_CATPT is not set
# CONFIG_SND_SOC_INTEL_USER_FRIENDLY_LONG_NAMES is not set
# CONFIG_SND_SOC_SOF_INTEL_TOPLEVEL is not set
# CONFIG_SND_SOC_ADAU7118_HW is not set
# CONFIG_SND_SOC_ADAU7118_I2C is not set
# CONFIG_SND_SOC_CS4234 is not set
# CONFIG_SND_SOC_MAX98373_SDW is not set
# CONFIG_SND_SOC_PCM512x_I2C is not set
# CONFIG_SND_SOC_RT1308_SDW is not set
# CONFIG_SND_SOC_RT5682_SDW is not set
# CONFIG_SND_SOC_RT700_SDW is not set
# CONFIG_SND_SOC_RT711_SDW is not set
# CONFIG_SND_SOC_RT715_SDW is not set
# CONFIG_SND_SOC_TAS2562 is not set
# CONFIG_SND_SOC_TAS2764 is not set
# CONFIG_SND_SOC_TAS2770 is not set
# CONFIG_SND_SOC_TLV320ADCX140 is not set
# CONFIG_SND_SOC_WM8804_I2C is not set
# CONFIG_SND_SOC_ZL38060 is not set
# CONFIG_SND_XEN_FRONTEND is not set
# CONFIG_HID_CREATIVE_SB0540 is not set
# CONFIG_HID_GLORIOUS is not set
# CONFIG_HID_VIVALDI is not set
# CONFIG_HID_MCP2221 is not set
# CONFIG_USB_XHCI_PCI_RENESAS is not set
# CONFIG_APPLE_MFI_FASTCHARGE is not set
# CONFIG_TYPEC_TCPCI_MAXIM is not set
# CONFIG_TYPEC_HD3SS3220 is not set
# CONFIG_TYPEC_STUSB160X is not set
# CONFIG_MMC_HSQ is not set
# CONFIG_LEDS_CLASS_MULTICOLOR is not set
# CONFIG_LEDS_LP50XX is not set
# CONFIG_SPEAKUP is not set
# CONFIG_INFINIBAND_RTRS_CLIENT is not set
# CONFIG_INFINIBAND_RTRS_SERVER is not set
# CONFIG_RTC_NVMEM is not set
# CONFIG_RTC_DRV_RV3032 is not set
# CONFIG_INTEL_IDXD is not set
# CONFIG_DMABUF_HEAPS is not set
# CONFIG_NITRO_ENCLAVES is not set
# CONFIG_VDPA is not set
# CONFIG_INTEL_WMI_SBL_FW_UPDATE is not set
# CONFIG_MXM_WMI is not set
# CONFIG_INTEL_ATOMISP2_LED is not set
# CONFIG_SURFACE_3_POWER_OPREGION is not set
# CONFIG_SYSTEM76_ACPI is not set
# CONFIG_INTEL_UNCORE_FREQ_CONTROL is not set
# CONFIG_INTEL_SCU_PCI is not set
# CONFIG_INTEL_SCU_PLATFORM is not set
# CONFIG_INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON is not set
# CONFIG_IIO_BUFFER_DMA is not set
# CONFIG_IIO_BUFFER_DMAENGINE is not set
# CONFIG_IIO_TRIGGERED_EVENT is not set
# CONFIG_MXC4005 is not set
# CONFIG_MXC6255 is not set
# CONFIG_AD7292 is not set
# CONFIG_MAX1241 is not set
# CONFIG_HMC425 is not set
# CONFIG_PMS7003 is not set
# CONFIG_SCD30_CORE is not set
# CONFIG_AD5770R is not set
# CONFIG_ADXRS290 is not set
# CONFIG_HDC2010 is not set
# CONFIG_ADIS16475 is not set
# CONFIG_FXOS8700_I2C is not set
# CONFIG_FXOS8700_SPI is not set
# CONFIG_INV_ICM42600_I2C is not set
# CONFIG_INV_ICM42600_SPI is not set
# CONFIG_ADUX1020 is not set
# CONFIG_AL3010 is not set
# CONFIG_GP2AP002 is not set
# CONFIG_LTR501 is not set
# CONFIG_VEML6030 is not set
# CONFIG_ICP10100 is not set
# CONFIG_SX9310 is not set
# CONFIG_VCNL3020 is not set
# CONFIG_LTC2983 is not set
# CONFIG_USB_LGM_PHY is not set
# CONFIG_PHY_INTEL_LGM_EMMC is not set
# CONFIG_USB4 is not set
# CONFIG_STM is not set
# CONFIG_INTEL_TH is not set
# CONFIG_INTERCONNECT is not set
# CONFIG_F2FS_FS_COMPRESSION is not set
# CONFIG_EXFAT_FS is not set
# CONFIG_TMPFS_INODE64 is not set
# CONFIG_SQUASHFS_FILE_DIRECT is not set
# CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU is not set
# CONFIG_EROFS_FS is not set
# CONFIG_VBOXSF_FS is not set
# CONFIG_NFSD_V4_2_INTER_SSC is not set
# CONFIG_EVM is not set
# CONFIG_CRYPTO_SM2 is not set
# CONFIG_CRYPTO_CURVE25519 is not set
# CONFIG_CRYPTO_BLAKE2S is not set
# CONFIG_CRYPTO_DEV_ATMEL_ECC is not set
# CONFIG_CRYPTO_DEV_ATMEL_SHA204A is not set
# CONFIG_DMA_CMA is not set
CONFIG_X86_SYSFB=y
CONFIG_IPMB_DEVICE_INTERFACE=y
# CONFIG_DRM_NOUVEAU is not set
CONFIG_FB_SYS_FILLRECT=m
CONFIG_FB_SYS_COPYAREA=m
CONFIG_FB_SYS_IMAGEBLIT=m
CONFIG_FB_SYS_FOPS=m
# CONFIG_FB_VIRTUAL is not set
# CONFIG_XEN_FBDEV_FRONTEND is not set
CONFIG_FB_SIMPLE=y
